body{
    font-size: calc(21rem/16);
    font-family: 'Lato', sans-serif;
}

@media (max-width: 767px){
    body{
        font-size: calc(16rem/16);
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Playfair Display', serif;
}

/* bootstrap overwrites */
@media (min-width: 1200px){
    .container{
        max-width: 1500px;
    }
}
@media (max-width: 767px){
    .btn-lg{
        font-size: calc(16rem/16);
    }

}


.text-gold{
    background-image:linear-gradient(90deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-size: 3.5rem;
}
h2, .h2{
    font-size: 3rem;
}

@media (max-width: 767px){
    h1{
        font-size: 2rem;
    }
    h2, .h2{
        font-size: 1.5rem;
    }
}

.header-logo{
    height: 80px
}
@media (max-width: 767px) {
    .header-logo{
        height: 50px
    }
}

.headline-underline{
    position: relative;
    margin-bottom: calc(30rem/16);
}
.headline-underline--high{
    margin-bottom: calc(75rem/16);
}

.headline-underline:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-10rem/16);
    width: 300px;
    height: 4px;
    background: rgb(239,205,117);
    background: linear-gradient(90deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);
}
@media (max-width: 767px) {
    .headline-underline:after{
        width: 150px;
    }
}

.headline-underline.headline-underline--high:after{
    bottom: calc(-35rem/16);
}


.bg-primary{
    background: linear-gradient(90deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);
    color: black;
}
.btn.btn-primary{
    background: rgb(239,205,117);
    background: linear-gradient(90deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);

    border-color: rgba(194,142,69,1);

    color: black;
    text-transform: uppercase;
    font-weight: 600;

    border-radius: 0;
}


.navbar--fixed{
    position: fixed;
    z-index: 101;
    left: 0;
    right: 0;

    opacity: 0;
    transition-duration: 500ms;
}
.navbar--colored{
    opacity: 1;
    transition-duration: 500ms;


    background-color: #424141;
}

@media (min-width: 768px) {
    .content-block:not(:last-of-type){
        margin-bottom: 10rem;
        position: relative;
    }
    .content-block:not(:last-of-type):after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 2px;
        height: 4rem;
        background: linear-gradient(180deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);
        transform: translateY(100%) translateY(3rem);
        right: 0;
        margin: auto;

        opacity: .7;
    }
}

.embed-responsive-hero::before {
    padding-top: 100%;
}
@media all and (min-width: 768px){
    .embed-responsive-hero::before {
        padding-top: 56.25%;
    }
}

.embed-responsive-slim::before {
    padding-top: 41.66667%;
}

.border-bottom {
    border-width: 5px !important;
}

.sticky-button{
    display: none;
}
@media all and (min-width: 768px){
    .sticky-button{
        position: fixed;
        bottom: 3rem;
        right: 0;
        display: block;
    }
}

.padding-spacing{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.margin-spacing{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.js-fading{
    transition-timing-function: ease;
    transition: opacity 2s, transform 2s;

    position: relative;
}

.form-container{
    width: 100%;
    padding: 1rem;
    border: 3px solid rgba(239,205,117,1);
}

@media all and (min-width: 768px){
    .form-container{
        padding: 5rem;
    }
}

.text-area{
    max-width: 750px;
    margin: auto;
}


.grey-area{
    background-color: #f8f9fa;
    padding: 3rem 0 0 0;
}

@media all and (max-width: 767px){
    .grey-area{
        background-color: #f8f9fa;
        padding: 2rem 0;
    }
}



/*tabbing*/
.nav-tabs{
    font-family: 'Playfair Display', serif;
    margin-bottom: 3rem;
    font-size: calc(28rem/16);
}
@media (max-width: 767px) {
    .nav-tabs{
        font-size: calc(18rem/16);
    }
}

.nav-tabs .nav-link{
    color: #000;
    opacity: .6;

    border: none;
    border-bottom: 2px solid transparent;
}

.nav-tabs .nav-link.active{
    opacity: 1;
    border-bottom: 2px solid rgba(194,142,69,1);
    font-weight: bold;
}
/*tabbing end*/

.scaling-image{
    transform: scale(1);
    transition-duration: 10s;
    transition-timing-function: linear;
}

.scaling-image.active{
    transition-timing-function: linear;
    transition-duration: 10s;
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .img-text{
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 4rem 0;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.img-text__headline{
    max-width: 500px;
}

.img-text__paragraph{
    max-width: 500px;
}


/*carousel*/
.carousel-indicators{
    margin: 0;
    background-color: #424141;
    transform: translateY(100%);
}
.carousel-indicators li{
    height: auto;
    width: 33%;
    text-indent: 0;
    margin: 0;
    opacity: 1;
    border: none;
    text-align: center;
    color: white;
    padding: 1rem 0;
    background-color: #424141;

    position: relative;
    font-size: calc(16rem/16);
}

.carousel-indicators li.active:after{
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;

    height: 2px;
    background: linear-gradient(180deg, rgba(239,205,117,1) 0%, rgba(194,142,69,1) 100%);

    width: 50%;
    margin: auto;
}

.carousel-spacing{
    margin-bottom: 65px;
}
/*end*/


.gold-input{
    border: 3px solid rgba(239,205,117,1);
    background: transparent;
    color: white;
    padding: 10px 20px;
}

.btn-outline-gold{
    color: white;
    border-color: rgba(239,205,117,1);

    border-radius: 0;
    border-width: 3px;
}

.btn-outline-gold:hover,
.btn-outline-gold:active,
.btn-outline-gold:focus{
    background: rgba(239,205,117,1);
}

.svg-spacer{
    margin-bottom: 3rem;
}